## Running singletCode on data (output from starcode)

First, installing singletCode package if it is not already installed

In [1]:
!pip3 install singletCode
import singletCode

Collecting singletCode
  Downloading singletCode-1.1.0-py3-none-any.whl (10 kB)
Collecting matplotlib>=3.0.2
  Downloading matplotlib-3.9.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 18.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pandas>=0.23.4 in /home/mzo5929/.local/lib/python3.9/site-packages (from singletCode) (2.1.4)
Collecting tqdm>=4.28.1
  Downloading tqdm-4.66.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 183.4 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: scipy>=1.1.0 in /home/mzo5929/.local/lib/python3.9/site-packages (from singletCode) (1.11.4)
Collecting pillow>=8
  Downloading pillow-10.3.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.4/4.4 MB 12.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: packaging>=20.0 in /home/mzo5929/.conda/envs/commandLine/lib/python3.9/site-packages (from matplotlib>=3.0.2->singletCode) (24.1)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 kB 310.0 kB/s eta 0:00:0000:01
Collecting importlib-resources>=3.2.0
  Downloading importlib_resources-6.4.0-py3-none-any.whl (38 kB)
Requirement already satisfied: numpy>=1.23 in /home/mzo5929/.local/lib/python3.9/site-packages (from matplotlib>=3.0.2->singletCode) (1.26.0)
Collecting kiwisolver>=1.3.1
  Downloading kiwisolver-1.4.5-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 14.1 MB/s eta 0:00:00:00:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.53.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 12.5 MB/s eta 0:00:0000:0100:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.2.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (304 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 305.0/305.0 kB 1.4 MB/s eta 0:00:0000:01
Requirement already satisfied: python-dateutil>=2.7 in /home/mzo5929/.conda/envs/commandLine/lib/python3.9/site-packages (from matplotlib>=3.0.2->singletCode) (2.9.0.post0)
Collecting cycler>=0.10
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: pytz>=2020.1 in /home/mzo5929/.conda/envs/commandLine/lib/python3.9/site-packages (from pandas>=0.23.4->singletCode) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /home/mzo5929/.local/lib/python3.9/site-packages (from pandas>=0.23.4->singletCode) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in /home/mzo5929/.local/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib>=3.0.2->singletCode) (3.17.0)
Requirement already satisfied: six>=1.5 in /home/mzo5929/.conda/envs/commandLine/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.2->singletCode) (1.16.0)
Installing collected packages: tqdm, pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib, singletCode
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cassiopeia 5.0.3 requires requests, which is not installed.
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.53.0 importlib-resources-6.4.0 kiwisolver-1.4.5 matplotlib-3.9.0 pillow-10.3.0 pyparsing-3.1.2 singletCode-1.1.0 tqdm-4.66.4

Then, load the data and check if it is in a valid format

In [2]:
import pandas as pd
df = pd.read_csv("/home/mzo5929/Keerthana/subiaHanxiaoDataAnalysis/extractedData/BarcodeAnalysis2/StepThree/SA2-078/stepThreeStarcodeShavedReads.txt", sep="\t")

In [3]:
singletCode.check_sample_sheet(df)

#Output
# {
# 	"name": "ValueError",
# 	"message": "The column names of the sample sheet must be cellID, barcode and sample, in that order.",
# 	"stack": "---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# Cell In[4], line 1
# ----> 1 singletCode.check_sample_sheet(df)

# File ~/anaconda3/envs/singletCode/lib/python3.9/site-packages/singletCode/general_utility_functions.py:11, in check_sample_sheet(data_frame)
#       8 required_columns = [\"cellID\",\"barcode\", \"sample\"]
#       9 if column_names != required_columns:
#      10     #Test
# ---> 11     raise ValueError(\"The column names of the sample sheet must be cellID, barcode and sample, in that order.\")
#      12 print(\"The sample sheet provided can be used as input to get_singlets to get a list of singlets identified.\")
#      13 return

# ValueError: The column names of the sample sheet must be cellID, barcode and sample, in that order."
# }

ValueError: The column names of the sample sheet must be cellID, barcode and sample, in that order.

Making necessary changes to the sheet if required

In [4]:
df.columns
# The output: 
# Index(['cellID', 'UMI', 'OriginalBarcode', 'BC50StarcodeD8', 'BC40StarcodeD8',
#        'BC30StarcodeD8', 'BC30StarcodeD6', 'SampleNum'],
#       dtype='object')

Index(['cellID', 'UMI', 'OriginalBarcode', 'BC50StarcodeD8', 'BC40StarcodeD8',
       'BC30StarcodeD8', 'BC30StarcodeD6', 'SampleNum'],
      dtype='object')

In [28]:
#removing reads information
uniqueDf = df.drop_duplicates()
#removing extra columns
subsettedDf = uniqueDf[["cellID", "BC50StarcodeD8", "SampleNum"]]
#renaming columns as required by singletCode
subsettedDf.columns = ["cellID", "barcode", "sample"]

In [24]:
subsettedDf.columns
#Output: Index(['cellID', 'barcode', 'sample'], dtype='object')

Index(['cellID', 'barcode', 'sample'], dtype='object')

In [29]:
singletCode.check_sample_sheet(subsettedDf)
#Output:
# The sample sheet provided can be used as input to get_singlets to get a list of singlets identified.

The sample sheet provided can be used as input to get_singlets to get a list of singlets identified.

In [30]:
cellLabelList, stats = singletCode.get_singlets(subsettedDf, dataset_name = "MultipleSamples", umi_cutoff_method = "ratio", save_all_singlet_categories=False, output_path="/home/mzo5929/Keerthana/subiaHanxiaoDataAnalysis/extractedData/singletCode")

INFO: Raw data counts:
sample
2    661891
1    472632
3    186302
Name: count, dtype: int64
Total cells for sample 1: 5575
INFO: Using ratio based filtering.
Current Sample Adjusted UMI cutoff: 4

100%|██████████| 5383/5383 [00:00<00:00, 24815.26it/s]

All singlets identified with multiple barcodes are unique? True
Total Singlets: 2298
Total Multiplets: 552
Total cells for sample 2: 6875
INFO: Using ratio based filtering.
Current Sample Adjusted UMI cutoff: 5

100%|██████████| 5411/5411 [00:00<00:00, 24003.17it/s]

All singlets identified with multiple barcodes are unique? True
Total Singlets: 2714
Total Multiplets: 984
Total cells for sample 3: 1728
INFO: Using ratio based filtering.
Current Sample Adjusted UMI cutoff: 2

100%|██████████| 2107/2107 [00:00<00:00, 24957.63it/s]

All singlets identified with multiple barcodes are unique? True
Total Singlets: 838
Total Multiplets: 191

In [27]:
stats

,single_sample_barcode_singlets,multi_barcode_singlets,dominant_umi_barcode_singlets,total_singlets,total_undetermined,low_umi_cells_removed,total_cells,dataset,sample
0,1368,805,128,2301,549,2725,5575,MultipleSamples,1
1,2606,76,38,2720,978,3177,6875,MultipleSamples,2
2,556,137,145,838,191,699,1728,MultipleSamples,3

In [21]:
stats

,single_sample_barcode_singlets,multi_barcode_singlets,dominant_umi_barcode_singlets,total_singlets,total_undetermined,low_umi_cells_removed,total_cells,dataset,sample
0,405,5,0,410,17,5148,5575,MultipleSamples,1
1,901,6,0,907,82,5886,6875,MultipleSamples,2
2,72,4,0,76,3,1649,1728,MultipleSamples,3